<!-- remove title section in  for this to work -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

 <main class="container"> 
<div class="jumbotron">
<h2><%= error.status %></h2>
<h2><%= message %></h2>
</div>
</main>

  <%- include partials/bottom_nav.ejs %>
  
  <%- include partials/footer.ejs %>