<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <br><br><br>
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField"></label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact Name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="emailTextField"></label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter The Contact's Email"
                    name="email" required>
                </div>

                <div class="form-group">
                    <label for="phoneTextField"></label>
                    <input type="text" class="form-control"
                    id="phoneTextField"
                    placeholder="Enter the Contact's Phone Number"
                    name="phone" required>
                </div>


                <div class="form-group">
                    <label for="companyTextField"></label>
                    <input type="text" class="form-control"
                    id="companyTextField"
                    placeholder="Enter the Contact's Company"
                    name="company" required>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
                
                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>